<h4 class="noMovements"> All fields are mandatory </h4>
<%= form_with model: @movement, url: group_movements_path(@group), data: { turbo: false }, class: 'add-form' do |form| %>

  <div class="field">
    <%= form.text_field :name, placeholder: 'Enter the name' %>
  </div>

  <div class="field">
    <%= form.number_field :amount, placeholder: 'Enter the amount' %>
  </div>

  <div class="field">
    <%= form.hidden_field :group_id, value: @group.id %>
  </div>

  <div class="submit">
    <%= form.submit 'Save' %>
  </div>
<% end %>
<%= link_to "Back", group_movements_path(@group), class: 'back-link' %>
